@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    height: 200px;
    background-image: url('img/download.png');
    background-repeat: repeat;

}
h1 strong{
    color:rgb(81, 196, 66)
}
#first,#second,#third{
    margin-left:170px;
    border: 20px;
    border-color: rgba(40, 91, 158, 0.685);
    width: 200px;
    height: 300px;
}
#products{
    margin: auto;
}
h1{
    font-family: 'MuseoModerno', cursive;
    color:whitesmoke;
    background-color: slateblue;
    
}
#chooseRounds{
    color: rgb(146, 159, 233);
    font-size: large;
    text-align: center;
    width: fit-content;
    background-color: rgba(70, 131, 180, 0.438);
    margin: auto;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}
button{
    background-color: rgb(144, 142, 112);
    width: 70px;
    display: inline-block;
    height: 20px;
    border: none;
    margin-top: 6px;
}
ul{
    font-family: 'MuseoModerno', cursive;
    font-size: 40px;
    background-color: steelblue;
}
ul li {
    background-color: steelblue;
    margin-top: 5px;
    list-style: square;
    font-size: 30px;
}
